@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* cursor: url("https://cur.cursors-4u.net/others/oth-6/oth589.cur"), auto; */
}

/* =========================
   NAVBAR
========================= */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 30px;
    background: #2e3d15;
}

.navbar a {
    color: #f5f7e8;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #d1dc8a;
}


/* =========================
   CARD
========================= */

.card {
    border: 1px solid #a5b85a;
    padding: 10px;
    margin: 10px;
}


/* =========================
   FOOTER
========================= */

.footer {
    text-align: center;
    padding: 12px;
    background: #2e3d15;
    color: #e2e8c9;
    font-family: "Nunito", sans-serif;
}